### Java/Maven ###
target/
*.class
*.jar
*.war
*.ear
*.log

### IDE Configurations ###
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.DS_Store


####logs
*.log
*.gz

### Environments ###
.env
*.env
