spring.application.name=task-manager
spring.datasource.url=jdbc:postgresql://localhost:5432/task_manager_db
spring.datasource.username=YOUR_DB_USERNAME
spring.datasource.password=YOUR_DB_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver
spring.sql.init.mode=always

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.mvc.hiddenmethod.filter.enabled=true

jwt.secretKey = YOUR_SECRET_JWT_KEY_HERE
admin.default.password=YOURADMINPASS
